:root {
  --white-color: #ffffff;
  --black-color: #444444;
  --black-active-color: rgba(68, 68, 68, 0.1);
  --gray-color: #c4c4c4;
  --light-gray-color: #d0d0d0;
  --lighter-gray-color: #eaeaea;
  --green-color: #33e383;
  --blue-color: #706df2;
  --light-blue-color: #ccf4ff;
  --red-color: #ff6666;

  --font-medium: 14px;
  --font-small: 12px;
  --font-x-small: 10px;
  --font-large: 18px;
  --font-x-large: 24px;
  --font-xx-large: 36px;
  --font-family: Apercu, Arial, Helvetica, sans-serif;
  --font-family-mono: Apercu Mono, Apercu, Arial, Helvetica, sans-serif;

  --transition-curve: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-long-duration: 0.5s;
  --transition-duration: 0.2s;
  --transition-short-duration: 0.1s;
}

@font-face {
  font-family: Apercu;
  src: url("assets/fonts/apercu-light.woff");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: Apercu;
  src: url("assets/fonts/apercu-regular.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url("assets/fonts/apercu-medium.woff");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: Apercu;
  src: url("assets/fonts/apercu-bold.woff");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("assets/fonts/apercu-mono.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Mono";
  src: url("assets/fonts/apercu-mono-bold.woff");
  font-weight: 700;
  font-style: bold;
}

body,
html,
#root {
  font-size: var(--font-medium);
  color: var(--black-color);
  font-family: var(--font-family);
  position: relative;
  width: 100%;
  height: 100vh;
}

body {
  overflow-x: hidden;
}

input,
button {
  background-color: transparent;
  border: none;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

input,
a:focus,
button:focus {
  border: none;
  outline: 0;
}

hr {
  background-color: var(--gray-color);
}

.hr {
  background-color: var(--light-gray-color);
  width: 100%;
  height: 0.5px;
}

body,
button,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
html,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  position: relative;
  line-height: 1.4;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.click {
  transition: opacity var(--transition-short-duration) var(--transition-curve);
}

.click:active {
  opacity: 0.5;
}

.hover {
  transition: color var(--transition-short-duration) var(--transition-curve),
    stroke var(--transition-short-duration) var(--transition-curve);
}

.hover:hover {
  color: var(--blue-color);
}

.hover:hover > * {
  stroke: var(--blue-color);
}

.hover.click {
  transition: opacity var(--transition-short-duration) var(--transition-curve),
    color var(--transition-short-duration) var(--transition-curve),
    stroke var(--transition-short-duration) var(--transition-curve);
}

.transition-group {
  width: 100%;
  height: 100%;
}

.back-btn {
  transform: rotate(180deg);
}

.container {
  width: calc(100% - 40px);
  margin: auto;
}

.container.tight {
  width: calc(100% - 80px);
}

.reveal-appear,
.reveal-enter {
  opacity: 0;
}

.reveal-appear-active,
.reveal-enter-active,
.reveal-enter-done {
  transition: opacity var(--transition-duration) var(--transition-curve);
  opacity: 1;
}

.reveal-exit {
  transition: none;
  opacity: 1;
}

.reveal-exit-active,
.reveal-exit-done {
  opacity: 0;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active,
.slide-enter-done {
  transition: transform var(--transition-long-duration) var(--transition-curve);
  transform: translateX(0);
}

.slide-exit {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.slide-exit-active,
.slide-exit-done {
  transition: transform var(--transition-long-duration) var(--transition-curve),
    left var(--transition-long-duration) var(--transition-curve);
  left: 0;
  transform: translateX(-100%);
}

.transition-group.right > .slide-enter {
  transform: translateX(-100%);
}

.transition-group.right > .slide-enter-active,
.transition-group.right > .slide-enter-done {
  transition: transform var(--transition-long-duration) var(--transition-curve);
  transform: translateX(0);
}

.transition-group.right > .slide-exit {
  position: absolute;
  left: unset;
  right: 50%;
  top: 0;
  transform: translateX(50%);
}

.transition-group.right > .slide-exit-active,
.transition-group.right > .slide-exit-done {
  transition: transform var(--transition-long-duration) var(--transition-curve),
    right var(--transition-long-duration) var(--transition-curve);
  right: 0;
  transform: translateX(100%);
}

.snackbar-appear,
.snackbar-enter {
  transform: translateY(-100%);
}

.snackbar-appear-active,
.snackbar-enter-active,
.snackbar-enter-done {
  transition: transform var(--transition-short-duration) var(--transition-curve);
  transform: translateY(0);
}

.snackbar-exit {
  opacity: 1;
}

.snackbar-exit-active,
.snackbar-exit-done {
  transition: opacity var(--transition-duration) var(--transition-curve);
  opacity: 0;
}
