.main {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
  padding: 10px 0;
}

.icon {
  width: 36px;
  height: 36px;
}

.icon>* {
  stroke: var(--gray-color);
}

.message {
  color: var(--gray-color);
  font-size: var(--font-medium);
  margin-top: 5px;
}