.main {
  width: 100%;
  text-align: center;
  font-family: var(--font-family);
}

.main > svg {
  width: 36px;
  height: 36px;
}

.main > svg > * {
  stroke: var(--gray-color);
  stroke-width: 1.5px;
}

.message {
  color: var(--gray-color);
  font-size: var(--font-medium);
  margin-top: 5px;
}
