.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: var(--header-height);
}

.center {
  text-align: center;
}

.title {
  font-size: var(--font-medium-x-large);
  font-weight: 700;
}

.subtitle {
  font-size: var(--font-medium);
  line-height: var(--font-medium);
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: -5px;
}

.item {
  width: var(--icon-size);
}
