.main {
  padding-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 30px;
}

.title {
  font-weight: 400;
  font-size: var(--font-x-large);
  text-align: center;
}

.email_input {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.error {
  color: var(--red-color);
  text-align: center;
  margin-bottom: 15px;
}

.item {
  width: var(--icon-size);
}
