.main {
  pointer-events: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.row {
  display: flex;
  background-color: var(--white-color);
  height: var(--nav-height);
  border-top: 0.5px solid var(--light-gray-color);
}

.item {
  flex: 1;
  height: 100%;
  line-height: var(--nav-height);
  text-align: center;
}

.item > * {
  top: 50%;
  transform: translateY(-50%);
}

.disabled {
  color: var(--gray-color);
}
