.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.margin_bottom {
  padding: 5px 0;
  margin-bottom: 5px !important;
}

.border {
  border-top: 0.5px solid var(--light-gray-color);
  padding: 20px 0;
}

.border:last-child {
  border-bottom: 0.5px solid var(--light-gray-color);
}

.left {
  flex: 1;
}

.title {
  font-weight: 500;
  font-size: var(--font-medium-large);
}

.subtitle {
  color: var(--gray-color);
  font-size: var(--font-small);
  font-weight: 300;
}
