.main {
}

.title {
  font-size: var(--font-large);
  font-weight: 500;
}

.isLoading {
  width: 100vw !important;
  height: calc(100vh - var(--header-height)) !important;
}

.option_row {
  padding: 15px 20px;
  border-bottom: 0.5px solid var(--light-gray-color);
}

.option_row.action {
  color: var(--blue-color);
  font-weight: 500;
}
