.main {
  max-width: 800px;
  margin: auto;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  border-radius: 2px;
  background-color: var(--black-color);
  display: none;
}

.line.active {
  display: block;
}
