.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dots {
  display: flex;
  align-items: center;
  align-content: center;
  position: fixed;
  bottom: calc(-50vh + 50% + 86px);
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  background-color: var(--lighter-gray-color);
  width: 6px;
  height: 6px;
  border-radius: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.dot.active {
  background-color: var(--black-color);
}
