.wrapper {
  padding-top: 9px;
}

.main {
  border: 1px solid var(--gray-color);
  transition: border-color var(--transition-short-duration)
    var(--transition-curve);
}

.main > .pw_icon > * {
  stroke: var(--gray-color);
  transition: stroke var(--transition-short-duration) var(--transition-curve);
}

.main.active {
  border-color: var(--black-color);
}

.main.active > .pw_icon > * {
  stroke: var(--black-color);
}

.main.error {
  border-color: var(--red-color);
}

.main.error > .pw_icon > * {
  stroke: var(--red-color);
}

.input {
  padding: 12px 15px;
  width: 100%;
  height: 100%;
}

.input.password {
  width: calc(100% - var(--icon-size) - 20px);
}

.label {
  pointer-events: none;
  color: var(--gray-color);
  position: absolute;
  font-size: var(--font-small);
  text-transform: capitalize;
  left: 10px;
  top: 0;
  background-color: var(--white-color);
  padding: 2px 5px;
  transform: translateY(11px);
  transition: color var(--transition-short-duration) var(--transition-curve),
    transform var(--transition-short-duration) var(--transition-curve);
}

.label.active {
  color: var(--black-color);
  transform: translateY(-50%);
}

.label.error {
  color: var(--red-color);
}

.errorLabel {
  color: var(--red-color);
  font-size: var(--font-small);
  padding-left: 10px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.pw_icon {
  margin: 0 10px;
  vertical-align: middle;
}
