.main {
}

.title {
  font-size: var(--font-large);
  font-weight: 500;
}

.accounts {
  margin-top: 15px;
}

.plaidBtn {
  display: block;
  margin: auto;
}

.marginTop {
  margin-top: 30px;
}

.plaidLink {
  color: var(--blue-color);
  font-weight: 500;
  margin-top: 5px;
}

.institution_logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.balance {
  font-size: var(--font-medium-large);
  font-weight: 500;
}

.account_title {
  font-weight: 400;
  font-size: var(--font-medium);
  text-transform: capitalize;
}

.delete {
  height: 100%;
  line-height: var(--nav-height);
}

.delete.active {
  color: var(--white-color);
  background-color: var(--red-color);
}

.left_side {
  display: flex;
  align-items: center;
  align-content: center;
}

.select {
  width: 30px !important;
  transition-delay: var(--transition-duration), 0s;
}

.highlight::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 45px;
  width: calc(100% - 60px);
  height: 100%;
  transition: background-color var(--transition-short-duration)
    var(--transition-curve);
}

.highlight.active::before {
  background-color: var(--light-blue-color);
}
