.content {
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px;
}

.icon {
  cursor: pointer;
}

.back_icon {
  transform: rotate(180deg);
}

.option_row {
  padding: 15px 20px;
  border-bottom: 0.5px solid var(--light-gray-color);
}

.option_row:last-child {
  border-bottom: none;
}
